#
# Copyright (c) 2019-2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: Docker Build PR

on: pull_request
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout che-machine-exec source code
      uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Check docker build
      uses: docker/build-push-action@v3
      with:
        file: build/dockerfiles/Dockerfile
        platforms: linux/amd64,linux/ppc64le,linux/arm64
        push: false
        tags: quay.io/eclipse/che-machine-exec:pr-check

  travis-build:
    runs-on: ubuntu-22.04
    continue-on-error: true
    steps:
    - name: Trigger build on Travis CI
      run: |
        body="{
        \"request\":{
        \"config\": {
          \"env\": {
            \"global\": [
              \"PR_NUMBER=${{ github.event.pull_request.number }}\"
             ]
           }
        }
        }}"

        curl -s -X POST \
        -H "Content-Type: application/json" \
        -H "Accept: application/json" \
        -H "Travis-API-Version: 3" \
        -H "Authorization: token ${{ secrets.TRAVIS_TOKEN }}" \
        -d "$body" \
        https://api.travis-ci.com/repo/eclipse-che%2Fche-machine-exec/requests
