#
# Copyright (c) 2019-2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: Che Machine Exec
on: [pull_request]

jobs:
  run:
    name: License
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go 1.23
        uses: actions/setup-go@v3
        with:
          go-version: 1.23
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Check Eclipse license headers
        run: |
          go get -u github.com/che-incubator/check-license-header@379ba18fdb906d341ae451ea155cc34f1c4b4f1a
          /bin/bash scripts/license.sh check
