#
# Copyright (c) 2019-2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation

name: Machine Exec Next Build

on:
  push:
    branches: [ main ]
jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout che-machine-exec source code
      uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to quay.io
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}
        registry: quay.io
    - id: vars
      shell: bash
      run: |
        echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
    - name: Build and push both short SHA tag and next tag
      uses: docker/build-push-action@v2
      with:
        file: build/dockerfiles/Dockerfile
        platforms: linux/amd64,linux/ppc64le,linux/arm64
        push: true
        tags: |
          quay.io/eclipse/che-machine-exec:next
          quay.io/eclipse/che-machine-exec:${{ steps.vars.outputs.sha_short }}

  # TODO: uncomment this when we're happy that travis is working for PRs
  # travis-build:
  #   runs-on: ubuntu-latest
  #   continue-on-error: true
  #   steps:
  #   - name: Trigger build on Travis CI
  #     run: |
  #       body="{
  #       \"request\":{
  #       \"branch\":\"main\"
  #       }}"

  #       curl -s -X POST \
  #       -H "Content-Type: application/json" \
  #       -H "Accept: application/json" \
  #       -H "Travis-API-Version: 3" \
  #       -H "Authorization: token ${{ secrets.TRAVIS_TOKEN }}" \
  #       -d "$body" \
  #       https://api.travis-ci.com/repo/eclipse-che%2Fche-machine-exec/requests
